.pagination{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin: 20px 0;
}

.pagination button{
    padding: 8px 12px;
    background-color: #666;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    white-space: nowrap;
}

.pagination button:hover{
    background-color: #34393f;
}

.pagination button.activePage{
    background-color: #999;
    color: #fff;
    transform: scale(1.2);
}

.pagination span{
    color: #ccc;
    font-size: 14px;
}


@media(max-width: 450px){
    .pagination{
        padding-inline: 1rem;
    }
}