.movieList{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 4rem;
    padding-inline: 10%;
    padding-block: 2rem;
}


@media(max-width: 1024px){
    .movieList{
        gap: 1rem;
        padding-inline: 5%;
    }
}

@media(max-width: 768px){
    .movieList{
        grid-template-columns: repeat(3, 1fr);
    }
}

@media(max-width: 450px){
    .movieList{
        grid-template-columns: repeat(2, 1fr);
        gap: 0.5rem;
        padding-inline: 3%;
    }
}